anything within double/single qoutes is considered as string(collection of characters)

In [1]:
print('Hello fermat')
print("Hello fermat")
# keep it within double quote/ single quote (be consistent)

Hello fermat
Hello fermat

In [ ]:
print(4+5)
print(4*5)
# this is a floating type division
print(4/5) 

# this is a integer type division
print(4//5)

9
20
0.8
0

In [32]:
print(2+3*4)
print(4/2)
print(4//2)
print(2//4)
print(2**0.5)

14
2.0
2
0
1.4142135623730951

In [ ]:
print(2**3)
print(16/2)
print(16//2)

8
8.0
8

In [37]:
print(16%2)
print(15%2)

0
1

In [39]:
print(round(2**0.5,4))
print(round(2**0.5,2))

1.4142
1.41

### Escape sequences

In [40]:
print('hello "world" world')
print("hello 'world' world")

hello "world" world
hello 'world' world

In [5]:
print("i\'m kimaya")
print("i\\'m kimaya")

i'm kimaya
i\'m kimaya

In [15]:
print("\'")
print("\"")
print("\\")

'
"
\

In [ ]:
print("hello\nworld")
# \n break line

hello
world

In [ ]:
print("hello\bworld")
# \b is fo backspace

hellworld

In [ ]:
print("hello\tworld")
# \t tab

hello	world

In [ ]:
print("hello \"world\" world")
print("\\\"\\\"\\\"\\\"")
print("/\\/\\/\\/\\")
print("he is\tawesome")
print("\\\" \\n \\t \\\"")

hello "world" world
\"\"\"\"
/\/\/\/\
he is	awesome
\" \n \t \"

In [ ]:
print("hello",4,5.7,True)
print('hello',3,6.7,False,sep='/')

# the sep part is a parameter or a keyword argument for print funcion

hello 4 5.7 True
hello/3/6.7/False

## Raw Strings

- Raw strings are prefixed with r that tells python not to interpret python backslashes as escape characters

In [30]:
print(r"/\\/\\/\\/\\")

/\\/\\/\\/\\

## Prescedence Rule

- It refers to the order in which different operations are performed

- Parenthesis - highest
- Exponent -  right to left (Right associated)
- *,/,//,%  - left to right (Left associated)
- +,-      - left to right
- Comparison (==, != ,<,> ,>=,<= )
- Logical AND (and) , Logical NOT (not) , Logical OR (or)

In [ ]:
print((2+3)*5)
print((2+3)*5/2%6)
print((2+3)*5//2%6)

25
0.5
0

In [44]:
print(2**3**2)

512