### Operators in Python

In [ ]:
a = 10
b= 3

In [ ]:
# These are arithmetic operations
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)
print(a**b)
print(a//b)

13
7
3.3333333333333335
30
1
1000
3

In [6]:
# Relational / Comparision operator
# Equal to
print(a==b)
# not equal to
print(a!=b)
# greater than less than
print(a>b)
print(a<b)
# greater than equal to less than equal to 
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [9]:
# Logical operators They are used to combine multile conditions and return a true or a false value
a = 10
b = 0
print(a and b)
print((5>3)and(3>1))
print((5<3)and(3>1))

0
True
False

In [ ]:
# or
print(a or b)
print((5>3)or(3>1))
print((5<3)or(3>1))

10
True
True

In [14]:
# not
print(not b)
print(not a)
print(not (5<3))

True
False
True

In [17]:
# Bitwise operators
# bitwise &
a = 5
b = 3
# &
print(a&b)
# or
print(a|b)
# xor
print(a^b)
# not
print(~a)
# left shift (multiplication by 2)
print(a<<1) 
# right shift (divide by 2)
print(a>>1)

1
7
6
-6
10
2

In [38]:
# Assignment operators these are used to assign values to the variables (calculate and update)
a= 8
# Simple assignment

In [39]:
a += 3
# a = a+3

In [40]:
# add and assign
print(a)

11

In [41]:
# sub and assign 
a -= 3
print(a)

8

In [42]:
# multiply and assign
a *= 9
print(a)

72

In [43]:
# divide and assign
a /= 3
print(a)

24.0

In [ ]:
# # float divide and assign
# a //= 3
# print(a)

0.0

In [44]:
# exponential and assign
a **= 3
print(a)

13824.0

In [45]:
# modulus and assign 
a %= 2
print(a)

0.0

In [ ]:
# Membership operators
# used to test whether a value is a member of a sequence tuple / string
# in : True if present in sequence
# not in : True if not present in sequence
print("a" in "apple")
print("b" in "apple")
print("b" not in "apple")

True
False
True

In [51]:
Fruits = ["Apple , Banana , Lemon , Grapes"]
print("Coconut" in "Fruits") 
print("Coconut" not in "Fruits")

False
True