### String Concatenation

In [25]:
first_name = "Pierre"
lastName = "Fermat"
fullName = first_name + " " + lastName
print(fullName)

Pierre Fermat

In [26]:
print(first_name + 3)

TypeError: can only concatenate str (not "int") to str

In [27]:
print(first_name + "3")

Pierre3

In [28]:
print(first_name + str(3))

Pierre3

In [29]:
print(first_name*3)

PierrePierrePierre

### User input
- The input is usually in string format, because str is a universal daat format and all other data types can be stored in string

In [ ]:
a, b, c = input()

1 2 3

In [3]:
a,b,c = input().split("?")

In [4]:
print(a,b,c)

1 2 3

In [5]:
type(a)

str

In [6]:
sum= int(a)+int(b)

In [7]:
print(sum)

3

In [ ]:
name = input("enter your name")
age = int(input("enter your age"))

In [12]:
print("hello" + name + "my age is " + str(age))

hellokimayamy age is 23

#### Formatted Strings 
- Formatted string literal allow you to embed expressions inside string literals using curly brackets {}

In [13]:
print(f"hello {name} my age is {age} ")

hello kimaya my age is 23

In [14]:
print("hello {} my age is {}".format(name,age))

hello kimaya my age is 23

In [ ]:
# take 3 numbers and find there average
a, b, c = input().split(" ")
avg = (int(a)+int(b)+int(c))/3
print(avg)

In [22]:
# Print sum of 1st n numbers
n = int(input())
sum = n*(n+1)/2
print(sum)

15.0

### String Indexing
- zero indexing

In [31]:
language = "Python"
# P = 0 , -6
# y = 1 , -5
# t = 2 , -4
# h = 3 , -3
# o = 4 , -2
# n = 5 , -1
print(language[5])
print(language[-4])

n
t

### String Slicing
- We are trying to select subsequences
- Syntax = [start argument : stop argument - 1 : stepsize]

In [32]:
print(language[2:4])

th

Why not 2,4?
- 2:4 is a slice object (range of indices)
- 2,4 would be a tuple of two numbers ,which indexing doesnt allow
(Thats why we must use a colon : to speciy a range)

In [53]:
s = "Hello world"
print(s[1:])
print(s[:3])
print(s[:])
print(s[0:6:2])
print(s[-1:])
print(s[-5:])
print(s[6::-1])

ello world
Hel
Hello world
Hlo
d
world
w olleH

In [ ]:
print(s[6:2])
# But since 6 > 2, thereâ€™s no valid path forward.
# Python just returns an empty string.

# So the output will be:

In [ ]:
# to reverse a string 
print(s[::-1])

dlrow olleH

In [55]:
# If step size is negative then starting number should be bigger
print(s[-1:-6:-1])

dlrow

In [57]:
print("Kimaya"[0:6:2])

Kmy

In [112]:
# take input of full name and age and create email lastthreechar-age@gmail.com
name , age =input("enter your ful name").split(" ")
email = name[-1:-4:-1] + age
print(f"my emailid is {email}")

my emailid is aya23

### String methods
- All these methods dont change the original string , a new string is formed in memory and on this the operation is performed.

In [118]:
# string methods
name = "Pierre Fermat"

In [84]:
name[0] = "F"

TypeError: 'str' object does not support item assignment

In [60]:
# len() function
len(name)

13

In [70]:
#  min and max function- based on ascii value 
print(min(name))
print(max(name))

F
t

In [71]:
sorted(name)

['F', 'P', 'a', 'e', 'e', 'e', 'i', 'm', 'r', 'r', 'r', 't']

#### Difference between funcions and methods
- Methods is like the feature built into the object
- In Python, a function is independent and can operate on different types, like len() which works for strings, lists, etc. A method is tied to a particular object/class and called on it, like .lower() which belongs to strings. Functions are generic, methods are object-specific.

In [79]:
print(name.lower())
print(name.upper())
print(name.title())
print(name.capitalize())

pierre fermat
PIERRE FERMAT
Pierre Fermat
Pierre fermat

In [82]:
#  To find the frequency of the character or a substring
print(name.count("e"))
print(name.count("r"))
print(name.count("er"))

3
3
2

In [ ]:
# .find() used to locate first occurence of a substring within a string . It returns the index of the first occurence of the substring . If nothing is found it returns -1. 3rd parameter specifies from which index we should start searching from

print(name.find("er"))
print(name.find("er",3))

2
8

In [86]:
#  Index method Similar to find used to locate first ocurrence of a substring within a string i not found it returns value error
print(name.index("er"))
print(name.index("ty"))

2

ValueError: substring not found

In [88]:
#  Split method it divides a string into list of substrings
first , last = input().split(" ")

In [89]:
print(f"my name is {first} {last}")

my name is kimya mutha

In [92]:
age , emailid = input().split(" ")
print(f"my age is {age} and my emailid is {emailid}")

my age is 23 and my emailid is a

In [94]:
# Join method joins elements of iterables (list into a string)
words = ['hi','i','am','fermat']
print("@".join(words))

hi@i@am@fermat

In [108]:
#  Strip method removes any leading and tracing white spaces from a string
name = "  Pierre   Fermat    "
print(name.strip())

Pierre   Fermat

In [97]:
dots = " ................................ "
print(name + dots)

  Pierre   Fermat     ................................

In [100]:
print(name.lstrip())
print(name.rstrip())

Pierre   Fermat
  Pierre   Fermat

In [ ]:
print(name.replace(" ",""))

PierreFermat

In [109]:
# Replace method creates a modified version of a string by replacing a specified substring
print(name.replace("Pie","Fie"))

  Fierre   Fermat

In [114]:
string = "she is beautiful and she is a good dancer"
print(string.replace("is","was"))
print(string.replace("is","was",1))

she was beautiful and she was a good dancer
she was beautiful and she is a good dancer

In [105]:
name , ch= input("enter name").split(" ")
print(len(name))
print(name.count(ch))

6
0

In [106]:
print(name.lower().count(ch.lower()))

2