## Data Types

- data types represent the kind of value a variable can hold , how that data is represented in memory , and the operations that can be performed on it.

#### Primitive data types:
- Int: whole nu,bers (42)
- Float: numbers with decimals (2.46)
- Boolean: Logical values (True/ False)
- Character: Single Character (A)

#### Composite/Sequence data types:
- Array: A collection of type of the same data type
- Sring: A segment of characters ("Hello world")
- Lists, Tuple and range

In [13]:
#### Python Data types
# Integer(int) 
print(8)
# Python can handle till 10^308 
print(1e308)
print(1e309)
# negative values till -10^308
print(-1e308)
print(-1e307)
print(-1e309)

8
1e+308
inf
-1e+308
-1e+307
-inf

In [19]:
# Float / Decimal 
print(3.14)

# Complex numbers
print(3+5j)

# Boolean type
print(True)

3.14
(3+5j)
True

## Variables
- Container where we are storing the information about the Data like floating, integer, strings

In [24]:
num1 = 2
print(num1)
num2 = 3
print(num2)
num3 = num1 + num2
print(num3)

2
3
5

In [25]:
num1 = 2
num2 = 3
num3 = num1 * num2
print(num3)

6

In [ ]:
name="Fermat"
print(name)

Fermat

- Variable name cannot start with a number (1num), we can have number in between (nu1m)
- Variable cannot start with an hiphen and cannot also have a special character (-, @)
- user_one_name="Fermat"  #sanke case writing
- useronename = "pierre"  #camel case writing

In [ ]:
@num=4
print(@num)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2642626821.py, line 1)

In [43]:
name, age = "kimaya" , 23
print(name,age)
print(name,age,sep="@")
print("my name is " + name + " and my age is " + str(age))

kimaya 23
kimaya@23
my name is kimaya and my age is 23

In [ ]:
a=b=c= 60
print(a+b+c)

180

In [46]:
a,b,c = 90, 45, 45
print(a+b+c)

180

In [51]:
name , age = "Kimaya" , 23
print("my name is " + name + " and my age is " + str(age))

my name is Kimaya and my age is 23

## String (Str)
- Sequence of characters enclosed in single/ double qoutes
- Strings are immutable (Values cannot be changed) 
- They are indexable which means we can access individual characters via their index

In [55]:
name = "Pierre de Fermat"
print(name)
print(name[0])
print(name[-1])
print(len(name))

Pierre de Fermat
P
t
16

### List (list)
- Collection of items which can be of different data types and are defined using square brackets.  
- The difference between aray and list is array should have a same data type while lists are heterogeneous in nature (lists are ideal in cases where we need dynamic array)
- They are mutable , ordered (items have a specific order) , and they are indexable.

In [56]:
fruits = ["Apple", "Grapes" , "Papaya" ]
print(fruits)

['Apple', 'Grapes', 'Papaya']

In [59]:
type(fruits)
type(name)

str

### Tuples 
- Ordered collecion of items similar to lists but defined with ().
- They are immutable (once created a tuple's content cannot be changed) , they are indexable.
- ue to immutability tuples are typicaly faster and use less memoery than lists and we use tuples when we want to create a constant sequence of elements that should no be modified.

In [61]:
angles = (30, 60, 90)
print(angles)
print(type(angles))

(30, 60, 90)
<class 'tuple'>

### Range (range)
- Represents a sequence of number items used in loops.

In [63]:
numbers = range(1,10)
print(numbers)
print(type(numbers))

range(1, 10)
<class 'range'>